/* #################################### */
/* SIDE BAR */
/* #################################### */
// Side Bar 
// This Is The Side Bar Menu Containing Menu Options
.Bar {
    background-color: #fcfcfc;
}

// Title Test
.Test {
    width: 68px;
    height: 39px;
    margin: 0 96px 26px 12px;
    font-family: 'Open Sans', sans-serif;
    font-size: 32px;
    font-weight: 800;
    letter-spacing: -3px;
    color: #484a4f;
    padding-top: 26px;
    padding-bottom: 37px;
    padding-left: 32px;
  }

/* #################################### */
// Payment Section
/* #################################### */

// Title Payment
.Title-Payments{
    font-family: 'Open Sans', sans-serif;
    font-weight: bold;
    font-size: 16px;
    color: #828282;
}

// Payment Card Container
.Card-Payments{
    background-color: #FAFAFA;
}



// Payments Section Menu-Icons 
.q-item__section--avatar{
    margin-left: 15px;
}

// Payment Section Links
// Contains Links in Payment Section
.Group-3 {
    margin: 3px -16px 4px 0px;
    font-family: Montserrat;
    font-size: 14px;
    color: #828282;
}
/* #################################### */
// COMMERCE SECTION
/* #################################### */

// Title Commerce
.Title-Commerce{
    font-family: 'Open Sans', sans-serif;
    font-weight: bold;
    font-size: 16px;
    color: #828282;
}

// Commerce Card Container
.Card-Commerce{
    background-color: #FAFAFA;
}

// Border Line Above Commerce
.Line-2 {
    width: 285px;
    margin: 0 33px 0 10px;
    border: 1px solid #dde7f1;
}

// Border Line Below Commerce
.Line-3 {
    width: 285px;
    margin: 0 33px 33px -5px;
    border: 1px solid #dde7f1;
    margin-top: -17px;
}


.Commerce{
    font-family: Montserrat;
    font-size: 14px;
    color: #828282;
}

/* #################################### */
