/* #################################### */
/* DASH BOARD CONTAINER */
/* #################################### */

// Dahsboard Height
.q-layout--standard{
    height: 1100px;
}

/* #################################### */
/* SIDE BAR */
/* #################################### */
// Side Bar 
// This Is The Side Bar Menu Containing Menu Options
.Bar {
    background-color: #fcfcfc;
}

// Title Test
.Test {
    width: 68px;
    height: 39px;
    margin: 0 96px 26px 12px;
    font-family: 'Open Sans', sans-serif;
    font-size: 32px;
    font-weight: 800;
    letter-spacing: -3px;
    color: #484a4f;
    padding-top: 26px;
    padding-bottom: 37px;
    padding-left: 32px;
  }

/* #################################### */
// Payment Section
/* #################################### */

// Title Payment
.Title-Payments{
    font-family: 'Open Sans', sans-serif;
    font-weight: bold;
    font-size: 16px;
    color: #828282;
}

// Payment Card Container
.Card-Payments{
    background-color: #FAFAFA;
}



// Payments Section Menu-Icons 
.q-item__section--avatar{
    margin-left: 15px;
}

// Payment Section Links
// Contains Links in Payment Section
.Group-3 {
    margin: 3px -16px 4px 0px;
    font-family: Montserrat;
    font-size: 14px;
    color: #828282;
}
/* #################################### */
// COMMERCE SECTION
/* #################################### */

// Title Commerce
.Title-Commerce{
    font-family: 'Open Sans', sans-serif;
    font-weight: bold;
    font-size: 16px;
    color: #828282;
}

// Commerce Card Container
.Card-Commerce{
    background-color: #FAFAFA;
}

// Border Line Above Commerce
.Line-2 {
    width: 285px;
    margin: 0 33px 0 10px;
    border: 1px solid #dde7f1;
}

// Border Line Below Commerce
.Line-3 {
    width: 285px;
    margin: 0 33px 33px -5px;
    border: 1px solid #dde7f1;
    margin-top: -17px;
}


.Commerce{
    font-family: Montserrat;
    font-size: 14px;
    color: #828282;
}

/* #################################### */
/* #################################### */
// MENU BAR SECTION
// Menu Bar Containing 
// (Search, Live, Language Menu, Notificaton & User)
/* #################################### */

// Menu Container.
.Navigation-Menu {
    height: 94px;
    background-color: #ffffff;
}

// Toggle Icon In Nav Bar
.Toggle{
    position: absolute;
    width: 39px;
    height: 22px;
    margin-left: 460px;
    margin-top: -40px;
}

// Live Text
.Live{
    position: absolute;
    flex-grow: 0;
    margin-left: 525px;
    margin-top: -40px;
    font-family: Montserrat;
    font-size: 16px;
    letter-spacing: -0.48px;
    color: #828282;
}







/* #################################### */
/* #################################### */
// DASHBOARD SECTION
// Dashboard Section Containing Text
// (Hey User Text, Your Dummy Text, Last 30days Drop Down)
/* #################################### */

// Hey User TEXT
.Hey-User{
    padding-top: 21px;
    height: 22px;
    margin: 0 0 0 36px;
    font-family: Montserrat;
    font-size: 18px;
    font-weight: bold;
}

// Text Last 30 days
.q-btn__content{
    color: #828282;
    font-size: 16px;
    font-weight: 600;
    font-family: Montserrat;
}
// Drop Down Icon Last 30 days
.q-btn-dropdown__arrow{
    color: #bb6bd9;
    background-color: #faf2ff;
    border-radius: 5px;
}
// Drop Down Text In Last 30 days
.DropDown-Text{
    font-family: Montserrat;
    font-size: 15px;
    color: #bb6bd9;
}

/* #################################### */
/* #################################### */
// CHART SECTION
// Chart Section Containing 
// (Last 30days Chart, Success Rate Chart, Payment Issues Chart)
/* #################################### */

// Column Containing Charts.
.column1{
    float: left;
    width: 70%;
}

// Column Containg Messages and Stats
.column2{
    position: absolute;
    right: 0px;
}



// Success Rate Chart
#Success-Rate {
    width: 50%;
    float: left;
    margin-top: 56px;
}

// Payment ssues Chart
#Payment-Issues-Chart {
    width: 20%;
    float: right;
    margin-top: 56px;
}

// 30 Days Chat Section
.Days-Chart{
    margin-top: 34px;
}

/* #################################### */
/* #################################### */
// STATS MESSAGE & SECTION
// Chat Section Containing 
// (Stats & Messages Section)
/* #################################### */

// Chat Container Section
.Chat{
    background-color: #f9f9f9;
    border-top-left-radius: 50px;
    margin-left: 10%;
}

.Chat-Menu{
    padding-top: 30px;
    padding-bottom: 20px;
}

.LineChat{
    position: absolute;
    width: 200px;
    margin: 0 0px -67px 40px;
    border: 1px solid #e0e0e0;
    margin-top: -17px;
}

// Message Section Container
.Bubble{
    background-color: #f9f9f9;
}

// Message Section
.Bubble-Card{
    height: 130px;
    border-radius: 20px;
    margin-top: -5px;
}

// Name of Message Secder Inside Card Section
#James-Robinson {
    width: 150px;
    height: 15px;
    font-size: 12px;
    font-weight: 600;
    line-height: normal;
    text-align: left;
    color: #333333;
    margin-top: 20px;
}

// Message Date Inside Message Section
#Bubble-Date {
    width: 80px;
    height: 10px;
    margin: 14px 0 27px 123px;
    margin-top: -75px;
    font-family: Montserrat;
    font-size: 8px;
    line-height: normal;
    text-align: right;
    color: #bdbdbd;
}

// Text Message Text In Message Section
#Text-Message{
    width: 150px;
    height: 12px;
    font-family: Montserrat;
    font-size: 10px;
    letter-spacing: normal;
    margin-top: 50px;
    color: #bdbdbd;
}

// View Tick In Message Section
#Text-Vector {
    width: 5px;
    height: 10px;
    width: 20px;
    height: 20px;
    margin: 14px 0 27px 160px;
    margin-top: -60px;
}
/* #################################### */
/* #################################### */
//              THE END
/* #################################### */
/* #################################### */